<header id="header" class="clearfix">
    <style>
        .himage {
            margin: 10px;
        }
    </style>
    <!-- navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img
                        class="img-responsive himage" src="assets/images/logo.png" alt="Logo"></a>
            </div>
            <!-- /navbar-header -->

            <div class="navbar-left">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" style="margin-top:10px;">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/service">Services</a></li>
                        <li><a routerLink="/search">Search</a></li>
                        <li><a routerLink="/postresume">Post Your Resume</a></li>
                        <li><a routerLink="/about">About us</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>

                    </ul>
                </div>
            </div><!-- navbar-left -->

            <!-- nav-right -->
            <div class="nav-right">
                <ul class="sign-in" style="cursor: pointer">
                    <li *ngIf="global.getUserName() == null;"><a routerLink="/signin">Sign In</a></li>
                    <li *ngIf="global.getUserName() != null;">Hi, {{global.getUserName()}}!  <a (click)="signOut()"><i class="fa fa-power-off"></i></a></li>
                    <li *ngIf="global.getUserName() == null;"><a routerLink="/signup">Sign Up</a></li>
                </ul><!-- sign-in -->
                
            </div>
        </div><!-- container -->
    </nav><!-- navbar -->
</header>
<!-- <router-outlet></router-outlet> -->
