<footer id="footer" class="clearfix">
    <!-- footer-top -->
    <section class="footer-top clearfix">
      <div class="container">
        <div class="row">
          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget">
              <h3>Quik Links</h3>
              <ul>
                <li><a routerLink="/home">About Us</a></li>
                <li><a routerLink="/home">Contact Us</a></li>
                <li><a routerLink="/home">Careers</a></li>
                <li><a routerLink="/home">All Cities</a></li>
                <li><a routerLink="/home">Help & Support</a></li>
                <li><a routerLink="/home">Advertise With Us</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->
  
          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget">
              <h3>How to sell fast</h3>
              <ul>
                <li><a routerLink="/home">How to sell fast</a></li>
                <li><a routerLink="/home">Membership</a></li>
                <li><a routerLink="/home">Banner Advertising</a></li>
                <li><a routerLink="/home">Promote your ad</a></li>
                <li><a routerLink="/home">Jobs Delivers</a></li>
                <li><a routerLink="/home">FAQ</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->
  
          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget social-widget">
              <h3>Follow us on</h3>
              <ul>
                <li><a routerLink="/home"><i class="fa fa-facebook-official"></i>Facebook</a></li>
                <li><a routerLink="/home"><i class="fa fa-twitter-square"></i>Twitter</a></li>
                <li><a routerLink="/home"><i class="fa fa-google-plus-square"></i>Google+</a></li>
                <li><a routerLink="/home"><i class="fa fa-youtube-play"></i>youtube</a></li>
              </ul>
            </div>
          </div><!-- footer-widget -->
  
          <!-- footer-widget -->
          <div class="col-sm-3">
            <div class="footer-widget news-letter">
              <h3>Newsletter</h3>
              <p>Jobs is Worldest leading Portal platform that brings!</p>
              <!-- form -->
              <form >
                <input type="email" class="form-control" placeholder="Your email id">
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form><!-- form -->			
            </div>
          </div><!-- footer-widget -->
        </div><!-- row -->
      </div><!-- container -->
    </section><!-- footer-top -->
  
    <div class="footer-bottom clearfix text-center">
      <div class="container">
        <p>Copyright &copy; <a >Jobs</a> 2021. Developed by <a routerLink="/home">Pritam</a></p>
      </div>
    </div><!-- footer-bottom -->
  </footer>