<section class=" job-bg ad-details-page">
	<div class="container">

		<div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>
					<a routerLink="/home">Home</a>
				</li>
				<li>About Us </li>
			</ol>
			<!-- breadcrumb -->
			<h2 class="title">About Us</h2>
		</div>
		<!-- banner -->

		<div class="job-postdetails post-resume">

			<div class="row">
				<div class="col-md-8 clearfix">

					<fieldset>
						<div class="section career-objective">

							<div class="form-group">
								<div class="job-postdetails">
									<div class="section job-postdetails">
										<div class="description-info">
											<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
											<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

											
										</div>

									</div>
								</div>

							</div>

						</div>
					</fieldset>

					<!-- form -->
				</div>

				<!-- quick-rules -->
				<div class="col-md-4">
					<div class="section quick-rules">
						<h1>Our Industry Practice :</h1>
						<div class="row">
							<div class="col-md-6">
								<ul>
									<li>Aerospace </li>
									<li>Automotive</li>
									<li>Banking & Insurance</li>
									<li>Consumer & Services</li>
									<li>Education</li>
									<li>Engineering </li>
									<li>FMCG</li>

								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li>Infrastructure</li>
									<li>Information Technology</li>
									<li>Media & Entertainment</li>
									<li>Pharma & Health care</li>
									<li>Technology</li>
									<li>Telecom</li>
									<li>Global Outsourcing</li>
								</ul>
							</div>
						</div>
						<ul class="share-social">
							<li>
								<a routerLink="/contact">
									<i class="fa fa-facebook-official" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-twitter-square" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-google-plus-square" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a routerLink="/contact">
									<i class="fa fa-linkedin-square" aria-hidden="true"></i>
								</a>
							</li>
						</ul>
					</div>

				</div>

				<!-- quick-rules -->
			</div>
			<!-- photos-ad -->
		</div>
	</div>
	<!-- <div>Value: {{ postresumeForm.value | json }}</div> -->

	<!-- container -->
</section>