<!-- header -->
<div>
  <app-header></app-header>
</div>
<!-- header -->

<!-- pages -->
<div>
  <router-outlet></router-outlet>

</div>
<!-- pages -->

<!-- footer -->
<div>
  <app-footer></app-footer>
</div>
<!-- footer -->