<section class=" job-bg ad-details-page">
    <div class="container">
  
   
      <div class="Sign-in">
        <div class="row">
          <div class="col-md-8 clearfix">
              <form  [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate>
                  <router-outlet>
                      <span *ngIf="showLoader" class="loading">Loading...</span>
                  </router-outlet>
                  <section class="user-page">
                      <div class="container">
                          <div class="breadcrumb-section" style="margin-left:300px;">
                              <!-- breadcrumb -->
                              <ol class="breadcrumb">
                                <li>
                                  <a routerLink="/home">Home</a>
                                </li>
                                <li>Sign up</li>
                              </ol>
                              <!-- breadcrumb -->
                              <h2 class="title">Sign up</h2>
                            </div>
                        <div class="row text-center">
                          <!-- user-login -->			
                          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <div class="user-account">
                              <h2>User Sign up</h2>
                              <!-- form -->
                             
                                <div clapass="form-group">
                                  <input type="text" formControlName="email" class="form-control" id="email" maxlength="255" placeholder="Email" >
                                  <span class="help-block" style="color:red" *ngIf="(signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty)
                                  && signUpForm.get('email')?.errors">
                                       <span *ngIf="signUpForm.get('email')?.errors?.required">
                                           Please enter your email.
                                       </span>
                                       <span *ngIf="signUpForm.get('email')?.errors?.minlength">
                                           The email must be Longer than 3 characters.
                                       </span>
                                   </span>
                                </div>
                                <div class="form-group">
                                  <input type="password" class="form-control" formControlName="password" id="password"  placeholder="Password" >
                                  <span class="help-block" style="margin-right:100px;" style="color:red" *ngIf="(signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty)
                                  && signUpForm.get('password')?.errors">
                                       <span *ngIf="signUpForm.get('password')?.errors?.required">
                                           Please enter your Password
                                       </span>
                                       <span *ngIf="signUpForm.get('password')?.errors?.minlength">
                                        The Password must be Longer than 3 characters.
                                       </span>
                                   </span>
                                </div>
 <div class="form-group">
                                  <input type="text" class="form-control" formControlName="c_password" id="c_password"  placeholder="Confirm Password" >
                                  <span class="help-block" style="margin-right:100px;" style="color:red" *ngIf="(signUpForm.get('c_password')?.touched || signUpForm.get('c_password')?.dirty)
                                  && signUpForm.get('c_password')?.errors">
                                       <span *ngIf="signUpForm.get('c_password')?.errors?.required">
                                           Please enter your correct password
                                       </span>
                                      
                                   </span>
                                </div>
                                <button type="submit" [disabled]="!signUpForm.valid" class="btn">Sign Up</button>
                             
                            
                            </div>
                            <!-- <a  class="btn-primary">Create a New Account</a> -->
                          </div><!-- user-login -->			
                        </div><!-- row -->	
                      </div><!-- container -->
                    </section><!-- signin-page -->
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
