<div class="banner-job">
    <div class="banner-overlay"></div>
    <div class="container text-center">
        <h1 class="title">The Easiest Way to Get Your New Job</h1>
        <h3>We offer 12000 jobs vacation right now</h3>
        <div class="banner-form">
            <form action="#">
                <input type="text" class="form-control" placeholder="Type your key word">
                <div class="dropdown category-dropdown">
                    <a data-toggle="dropdown" routerLink="/home"><span class="change-text">Job Location</span> <i
                            class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu category-change">
                        <li><a routerLink="/home">Chennai</a></li>
                        <li><a routerLink="/home">Trichy</a></li>

                    </ul>
                </div><!-- category-change -->
                <button type="submit" class="btn btn-primary" value="Search">Search</button>
            </form>
        </div><!-- banner-form -->

        <ul class="banner-socail list-inline">
            <li><a routerLink="/home" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a routerLink="/home" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="/home" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a routerLink="/home" title="Youtube"><i class="fa fa-youtube"></i></a></li>
        </ul><!-- banner-socail -->
    </div><!-- container -->
</div><!-- banner-section -->

<div class="page">
    <div class="container">
        <div class="section category-items job-category-items  text-center">
            <ul class="category-list">
                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/1.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Accounting/Finance</span>
                        <span class="category-quantity">(1298)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/2.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Education/Training</span>
                        <span class="category-quantity">(76212)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/3.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Engineer/Architects</span>
                        <span class="category-quantity">(212)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/4.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Garments/Textile</span>
                        <span class="category-quantity">(972)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/5.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">HR/Org. Development</span>
                        <span class="category-quantity">(1298)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/6.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Design/Creative</span>
                        <span class="category-quantity">(76212)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/7.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Research/Consultancy</span>
                        <span class="category-quantity">(1298)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/8.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Medical/Pharma</span>
                        <span class="category-quantity">(76212)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/9.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Music & Arts</span>
                        <span class="category-quantity">(212)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/10.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Marketing/Sales</span>
                        <span class="category-quantity">(1298)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/11.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Production/Operation</span>
                        <span class="category-quantity">(124)</span>
                    </a>
                </li><!-- category-item -->

                <li class="category-item">
                    <a routerLink="/home">
                        <div class="category-icon"><img src="assets/images/icon/12.png" alt="images"
                                class="img-responsive"></div>
                        <span class="category-title">Miscellaneous</span>
                        <span class="category-quantity">(972)</span>
                    </a>
                </li><!-- category-item -->
            </ul>
        </div><!-- category ad -->

        <div class="section latest-jobs-ads">
            <div class="section-title tab-manu">
                <h4>Latest Jobs</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#hot-jobs" data-toggle="tab">Hot Jobs</a></li>
                    <li role="presentation"><a href="#recent-jobs" data-toggle="tab">Recent Jobs</a></li>
                    <li role="presentation" class="active"><a href="#popular-jobs" data-toggle="tab">Popular Jobs</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/3.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class=title>CTO</a> @ <a routerLink="/home">Volja
                                        Events & Entertainment</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/1.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">Project Manager</a> @ <a
                                        routerLink="/home">Dominos Pizza</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/2.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">Graphics Designer</a> @ <a
                                        routerLink="/home">AOK Security</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/4.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a
                                        routerLink="/home">Dropbox Inc</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->
                </div><!-- tab-pane -->

                <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/2.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class=title>Graphics Designer</a> @ <a
                                        routerLink="/home">AOK Security</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/1.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class=title>Project Manager</a> @ <a
                                        routerLink="/home">Dominos Pizza</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/4.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">Human Resource Manager</a> @ <a
                                        routerLink="/home">Dropbox Inc</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/3.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">CTO</a> @ <a routerLink="/home">Volja
                                        Events & Entertainment</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->
                </div><!-- tab-pane -->

                <div role="tabpanel" class="tab-pane fade in active" id="popular-jobs">
                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="assets/images/job/1.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">Project Manager</a> @ <a
                                        routerLink="/home">Dominos Pizza</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a routerLink="/home"><img src="assets/images/job/2.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a routerLink="/home" class="title">Graphics Designer</a> @ <a
                                        routerLink="/home">AOK Security</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a routerLink="/home"><img src="assets/images/job/3.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a routerLink="/home" class="title">CTO</a> @ <a routerLink="/home">Volja Events &
                                        Entertainment</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->

                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a routerLink="/home"><img src="assets/images/job/4.png" alt="Image"
                                            class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a routerLink="/home" class="title">Human Resource Manager</a> @ <a
                                        routerLink="/home">Dropbox Inc</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a routerLink="/home"><i class="fa fa-map-marker" aria-hidden="true"></i>San
                                                Francisco, CA, US </a></li>
                                        <li><a routerLink="/home"><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                                                Time</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-money" aria-hidden="true"></i>$25,000
                                                - $35,000</a></li>
                                        <li><a routerLink="/home"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                                                Development</a></li>
                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                <a routerLink="/home" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->
                </div><!-- tab-pane -->
            </div><!-- tab-content -->
        </div><!-- trending ads -->

        <div class="ad-section text-center">
            <a routerLink="/home"><img src="assets/images/ads/3.jpg" alt="Image" class="img-responsive"></a>
        </div><!-- ad-section -->

        <div class="section workshop-traning">
            <div class="section-title">
                <h4>Workshop Traning</h4>
                <a routerLink="/home" class="btn btn-primary">See all</a>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="workshop">
                        <img src="assets/images/job/5.png" alt="Image" class="img-responsive">
                        <h3><a routerLink="/home">Business Process Management Training</a></h3>
                        <h4>Course Duration: 3 Month ( Sat, Mon, Fri)</h4>
                        <div class="workshop-price">
                            <h5>Course instructor: Kim Jon ley</h5>
                            <h5>Course Amount: $200</h5>
                        </div>
                        <div class="ad-meta">
                            <div class="meta-content">
                                <span class="dated"><a routerLink="/home">7 Jan 10:10 pm </a></span>
                            </div>
                            <div class="user-option pull-right">
                                <a routerLink="/home"><i class="fa fa-map-marker"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="workshop">
                        <img src="assets/images/job/6.png" alt="Image" class="img-responsive">
                        <h3><a routerLink="/home">Employee Motivation and Engagement</a></h3>
                        <h4>Course Duration: 3 Month ( Sat, Mon, Fri)</h4>
                        <div class="workshop-price">
                            <h5>Course instructor: Kim Jon ley</h5>
                            <h5>Course Amount: $200</h5>
                        </div>
                        <div class="ad-meta">
                            <div class="meta-content">
                                <span class="dated"><a routerLink="/home">7 Jan 10:10 pm </a></span>
                            </div>
                            <div class="user-option pull-right">
                                <a routerLink="/home"><i class="fa fa-map-marker"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- workshop-traning -->

        <div class="section cta cta-two text-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-cta">
                        <div class="cta-icon icon-jobs">
                            <img src="assets/images/icon/31.png" alt="Icon" class="img-responsive">
                        </div><!-- cta-icon -->
                        <h3>3,412</h3>
                        <h4>Live Jobs</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div><!-- single-cta -->

                <div class="col-sm-4">
                    <div class="single-cta">
                        <!-- cta-icon -->
                        <div class="cta-icon icon-company">
                            <img src="assets/images/icon/32.png" alt="Icon" class="img-responsive">
                        </div><!-- cta-icon -->
                        <h3>12,043</h3>
                        <h4>Total Company</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div><!-- single-cta -->

                <div class="col-sm-4">
                    <div class="single-cta">
                        <div class="cta-icon icon-candidate">
                            <img src="assets/images/icon/33.png" alt="Icon" class="img-responsive">
                        </div><!-- cta-icon -->
                        <h3>5,798,298</h3>
                        <h4>Total Candidate</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                    </div>
                </div><!-- single-cta -->
            </div><!-- row -->
        </div><!-- cta -->

    </div><!-- conainer -->
</div><!-- page -->

<!-- download -->
<section id="download" class="clearfix parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Download on App Store</h2>
            </div>
        </div><!-- row -->

        <!-- row -->
        <div class="row">
            <!-- download-app -->
            <div class="col-sm-4">
                <a routerLink="/home" class="download-app">
                    <img src="assets/images/icon/16.png" alt="Image" class="img-responsive">
                    <span class="pull-left">
                        <span>available on</span>
                        <strong>Google Play</strong>
                    </span>
                </a>
            </div><!-- download-app -->

            <!-- download-app -->
            <div class="col-sm-4">
                <a routerLink="/home" class="download-app">
                    <img src="assets/images/icon/17.png" alt="Image" class="img-responsive">
                    <span class="pull-left">
                        <span>available on</span>
                        <strong>App Store</strong>
                    </span>
                </a>
            </div><!-- download-app -->

            <!-- download-app -->
            <div class="col-sm-4">
                <a routerLink="/home" class="download-app">
                    <img src="assets/images/icon/18.png" alt="Image" class="img-responsive">
                    <span class="pull-left">
                        <span>available on</span>
                        <strong>Windows Store</strong>
                    </span>
                </a>
            </div><!-- download-app -->
        </div><!-- row -->
    </div><!-- contaioner -->
</section><!-- download -->